.radial-gauge {
	background-color: #fff;
	text-align: center;
	padding: 20px 0;
	margin: 20px 0;
}
.radial-progress {
    transform: rotate(-90deg);
    font-family: Verdana, Sans-Serif;
    margin: 0 20px;
}

.radial-progress .tick {
    stroke: white;
    stroke-width: 2;
}

.radial-progress .tick.quarterTick {
    stroke: white;
    stroke-width: 4;
    opacity: 1;
}
.radial-progress .tick-labels {
    font-size: .6rem;
    fill: white;
}

.radial-track {
    stroke: white;
    stroke-width: 5;
}

.radial-progress-bar {
    stroke-width: 5;
}

.radial-progress-bar.up {
    stroke: #43A047;
}

.radial-progress-bar.down {
    stroke: #e53935;
}

.needle .point,
.needle .center {
    fill: red;
}
