Source: twofing
Maintainer: Joe Gunn <gunnjo@curlycloud.com>
Section: misc
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 8), libx11-dev, libxtst-dev,
 libxi-dev, x11proto-randr-dev, libxrandr-dev

Package: twofing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xserver-xorg-input-evdev
Description: Process mouse events into gestures.
 twofing is a daemon that is intended to generate gestures from mouse events
 It has been tested with eGalax touch controllers.

